{% extends 'main.html' %} {% block content %}
<div class="card">
    <div class="card-body">
        <h2>Invoice for {{invoice.patient}}</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Patient</th>
                    <th>Unit Cost</th>
                    <th>Hours</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ invoice.name }}</td>
                    <td>{{ invoice.patient }}</td>
                    <td>{{ invoice.unit_cost }}</td>
                    <td>{{ invoice.hours }}</td>
                    <td>{{ invoice.get_total }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
{% endblock %}