{% extends 'main.html' %} {% block content %}

<div class="row">
    <div class="col-5 mx-auto">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>

                <input type="text" name="username" placeholder="Username..." class="form-control">
            </div>

            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>

                <input type="password" name="password" placeholder="Password..." class="form-control">
            </div>
            <input class="btn btn-success mx-auto text-center" type="submit" value="Login">

        </form>

    </div>
</div>
<div class="row">
    <div class='col-12 mx-auto'>
        {% for message in messages %}
        <p class="text-center" id="messages">{{message}}</p>
        {% endfor %}
    </div>
</div>
<br>
<div class="row">
    <div class="mt-4 mx-auto">
        <div class="d-flex justify-content-center links">
            Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
        </div>

    </div>
</div>
{% endblock %}