<table class="table table-hover">
    <thead>
        <tr>
            {% for t in data.title%}
            <th>{{t}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data.value %}
        <tr>
            {% for col in row %}
            <td>{% if col.type == 'text'%} {{ col.value }} {% elif col.type == 'link' %}
                <a href="{% url data.obj_url pk=col.value.pk %}">LINK</a> {% endif %} </td>{% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>